<div id="menu-bar">
    <h1 id="logo">Twitter</h1>
    <ul>
        <li class="menu-item"><button class="menu-btn">Home</button></li>
        <li class="menu-item"><button class="menu-btn">Explore</button></li>
        <li class="menu-item"><button class="menu-btn">Notifications</button></li>
        <li class="menu-item"><button class="menu-btn">Messages</button></li>
        <li class="menu-item"><button class="menu-btn">Bookmarks</button></li>
        <li class="menu-item"><button class="menu-btn">List</button></li>
        <li class="menu-item"><button class="menu-btn">Profile</button></li>
        <li class="menu-item"><button class="menu-btn">More</button></li>
    </ul>
    <button id="tweet-btn">Tweet</button>
</div>